.carteiras {
  display: inline-block;
  padding: 1%;
  width: 20%;
}

.mat-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

/* .mat-card {
} */

img {
  display: inline-block;
  width: 100px;
}

span {
  padding-left: 4%;
}

.nome {
  font-size: 20px;
}

.saldo {
  color: green;
}

.divida {
  color: red;
}
